:host {
	height: 150px;
	width: 270px;

	display: flex;
	flex-direction: column;

	border: 1px solid black;

	touch-action: none;
	user-select: none;
}

:host:active {
	z-index: 10;
}
